/* #region Rule for All_______________________________________________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --db-primary: #0061ffFF;
    --db-dark: #000000FF;
    --db-secondary: #b4d0e7FF;
    --db-light: #ffffffFF;
    --db-box1: #a2d39bFF;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    padding-bottom: 4rem;
    padding-top: 6rem;
}




/* #endregion Rule for All_______________________________________________________________*/




/* #region Debug_______________________________________________________________*/

/*

.debug #footer-site {
    background-color: rgb(0, 0, 0);
    height: 100px;
}

.debug .color {
    background-color: red;
    height: 100px;
}

.debug .card {}

.debug [class^="col-"]{
    min-height: 300px;
}

 
* {
    border: 1px dashed black;
}
*/


/* #endregion Debug_______________________________________________________________*/



/* #region Utilities_______________________________________________________________*/

.container {
    width: 80%;
    margin: auto;
    max-width: 1440px;
}

.container-small {
    width: 70%;
    margin: auto;
    max-width: 1200px;

}



.clean-link {
    text-decoration: none;
    color: var(--db-dark);
    padding: 0 1rem;
}

.clean-link-footer {
    text-decoration: none;
    color: var(--db-light);
    padding: 1rem 0;
}

.btn {
    background-color: var(--db-primary);
    color: var(--db-light);
    border: none;
}

.btn-big {
    padding: 0.6rem 2rem;
}

.btn-big-cont {
    padding: 0.6rem 5rem;
}

.btn-prtn {
    padding: 0.6rem 1.2rem;
    background-color: var(--db-light);
}

.btn-free {
    padding: 0.6rem 1.2rem;
    background-color: var(--db-light);
    border: none;
}

.btn-init {
    padding: 0.5rem 1.2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin 0 -1rem;
}

.col-4 {
    width: calc((100% / 12) * 4);
}



/*
[class^="col-"]{
    padding: 1rem;
}
*/

.pl-title {
    text-align: center;

}

.bord-title {
    border-top: 1px solid rgba(128, 128, 128, 0.393);
    border-bottom: 1px solid rgba(128, 128, 128, 0.393);
}

.bord-sw {
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 1rem;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.padding-bottom2 {
    padding-bottom: 2rem;
}

.color-line {
    color: grey;
}

.col-3 {
    width: calc((100% / 12) * 4);
}








.d-f {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
    padding: 2rem;
}

.ai-c {
    align-items: center;
}









.column-gap1 {
    flex-direction: column;
}




.icon-blue {
    color: blue;
}



.bord-plane {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;

}





.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}



.ta-c {
    text-align: center;
}

.logo {
    width: 100%;

}

.logo-cl {
    width: 50%;
    height: 50%;
}

.logo-50 {
    width: 50%;
}



/* #endregion Utilities_______________________________________________________________*/


/* #region Misure Padding_______________________________________________________________*/

.padding1 {
    padding: 1rem;
}


.pad-b05 {
    padding-bottom: 0.5rem;
}

.pad-t05 {
    padding-top: 0.5rem;
}

.pad-b1 {
    padding-bottom: 1rem;
}

.pad-t1 {
    padding-top: 1rem;
}

.pad-b2 {
    padding-bottom: 2rem;
}

.pad-t2 {
    padding-top: 2rem;
}

.pad-b3 {
    padding-bottom: 3rem;
}

.pad-t3 {
    padding-top: 3rem;
}

.pad-b4 {
    padding-bottom: 4rem;
}

.pad-t4 {
    padding-top: 4rem;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion Misure Padding_______________________________________________________________*/



/* #region header_______________________________________________________________*/

#header-site {
    background-color: var(--db-light);
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    line-height: 40px;
}

.img-logo {}

.box-left {
    align-items: center;
    align-content: center;
}

.logo-header {
    width: 100%;
    display: inline;
}

/* #endregion header_______________________________________________________________*/



/* #region main_______________________________________________________________*/



/* #region sezione jumbotrone */

.scroll {


    scroll-behavior: ;

}

.bg-jumbotron {
    background-color: var(--db-secondary);
    height: 700px;
}

.text-jumbo {
    display: flex;
    justify-content: center;

}

.info-jumbo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.img-jumbo {
    width: 60%;
}

.icon-jumbo {
    font-size: 300%;
    text-decoration: none;
    color: black;
}


/* #endregion sezione jumbotrone*/


/* #region sezione planes */

#piano-business {}


.container-plan {
    width: 70%;
    margin: auto;
    max-width: 1200px;
    margin-top: 15rem;

}

.row-plan {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.card-plane {
    width: calc((100% / 12) * 4 - 1rem);
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
    padding-bottom: 4rem;
}

.fs-40px {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;

    padding-bottom: 3rem;
}

.fs-40 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fatturazione {
    padding: 1rem 0;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.box-class {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.type-class {
    padding-top: 3rem;
}

.month {
    margin-top: -1rem;
    padding-bottom: 3rem;
    color: gray;
}

.box-icon {
    display: flex;
    gap: 0.5rem;
}

.btn-plane {
    text-align: center;
    padding: 2rem 1rem;
}

.list-plane {
    padding: 0.5rem 0;
}

.type-class2 {
    padding: 2rem 0;
}

.planes {
    display: flex;
    padding-bottom: 3rem;
}

.plane {
    border-left: 1px solid black;
    padding-bottom: 5rem;
    border-bottom: 1px solid black;
    width: 100%;
}


/* #endregion sezione planes */

.title-cta {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.box-cta {
    display: flex;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 2rem;
}

.box-cta-text-tit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

}

.box-cta-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}

.cta-border {
    border: 1px solid grey;

}


.cta-btn {
    text-align: end;
    position: absolute;
    top: 30%;
    right: 5%;
}


/* sezione call to action */

.box-prtn {
    display: flex;
    align-items: center;
    padding: 6rem 0;
}

.box-text-partner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


/* sezione partner */

.card {
    width: 33.33%;
    padding: 0.5rem;
}


/* sezione operation */

.card-cl {
    width: 33.33%;
}

.card-cl1 {
    width: 33.33%;
    padding: 1rem;
    background-color: rgb(233, 233, 233);
}

.logo-cl {
    width: 50%;
    height: 50%;
}

.logo-client {
    width: 50%;
    color: var(--db-light);
    filter: invert();
    align-items: center;
    margin: auto;
}

.box1 {
    align-items: center;
    background-color: var(--db-box1);
}

.box2 {
    align-items: center;
    background-color: #61082bFF;
}

.box3 {
    align-items: center;
    background-color: #0093ceFF;
}

.box4 {
    align-items: center;
    background-color: #ff1c1cFF;
}

.box-central {
    background-color: #f5f5f5FF;
    padding: 2rem;
}



/* sezione client */

.free {
    background-color: var(--db-secondary);
}

.box-free {
    display: flex;
    justify-content: space-between;
    padding: 5rem;

}

.box5 {
    align-items: center;
    background-color: #d5001fFF;
}

.box6 {
    align-items: center;
    background-color: #b4d0e7FF;
}

.box7 {
    align-items: center;
    background-color: #0d2481FF;
}

.box8 {
    align-items: center;
    background-color: #ffd830FF;
}

/* sezione free */

.box-faq {
    display: flex;
    justify-content: space-between;
    
}

.box-faq1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.box-faq2{
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#response1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
}

#response2 {
    text-align: center;
    padding-top: 1rem;
    color: var(--db-light);
}

.arrow1:hover #response1{
    color: red;
}

.answer1:hover #response1{
    color: var(--db-dark);
}


.box-faq1:hover #response1{
    display: block;
}

.box-faq2:hover #response1{
    display: block;
}

.box-faq:hover #response2{
    color: var(--db-dark);
}




/* #endregion main_______________________________________________________________*/




/* #region footer_______________________________________________________________*/

#footer-site {
    background-color: rgb(0, 0, 0);
    color: var(--db-light);
}


.footer-top,
.footer-bot {
    color: var(--db-light);
    padding: 3rem 0;
}

.box-footer{
    display: flex;
    justify-content: space-between;
}

.footer-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


/*
div> {
    font-size: 20px;
}*/



/* #endregion footer_______________________________________________________________*/