/* #region Rule for All_______________________________________________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --db-primary: #0061ffFF;
    --db-dark: #000000FF;
    --db-secondary: #b4d0e7FF;
    --db-light: #ffffffFF;
}



/* #endregion Rule for All_______________________________________________________________*/



/* #region Debug_______________________________________________________________*/



.debug #footer-site {
    background-color: rgb(0, 0, 0);
    height: 100px;
}


/* #endregion Debug_______________________________________________________________*/



/* #region Utilities_______________________________________________________________*/

.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.container-small {
    width: 60%;
    margin: auto;
    max-width: 1200px;
}

.d-f {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
    padding: 2rem;
}

.ai-c {
    align-items: center;
}

.col-3 {
    width: calc((100%/12)*4);
}

.clean-link {
    text-decoration: none;
    color: var(--db-dark);
    padding: 0 1rem;

}

.btn {
    background-color: var(--db-primary);
    color: var(--db-light);
    border: none;

}

.gap-05 {
    gap: 1rem;
}

/* #endregion Utilities_______________________________________________________________*/


/* #region header_______________________________________________________________*/

#header-site {
    background-color: var(--db-light);
}

.logo {
    width: 100%;
}

.btn-init {
    padding: 0.8rem 1rem;
}


/* #endregion header_______________________________________________________________*/



/* #region main_______________________________________________________________*/

.bg-jambotrone {
    background-color: var(--db-secondary);
    height: 700px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    padding-bottom: 4rem;
    padding-top: 6rem;
}

.img-jumbo{
    width: 60%;
}

/* sezione jumbotrone*/


h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding-top: 8rem;

}



/* #endregion main_______________________________________________________________*/