
/* #region Rule for All_______________________________________________________________*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}




/* #endregion Rule for All_______________________________________________________________*/



/* #region Debug_______________________________________________________________*/

body{
    background-color: red;
}

/* #endregion Debug_______________________________________________________________*/



/* #region Utilities_______________________________________________________________*/



/* #endregion Utilities_______________________________________________________________*/
