/* #region Rule for All_______________________________________________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --db-primary: #0061ffFF;
    --db-dark: #000000FF;
    --db-secondary: #b4d0e7FF;
    --db-light: #ffffffFF;
    --db-box1: #a2d39bFF;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    padding-bottom: 4rem;
    padding-top: 6rem;
}




/* #endregion Rule for All_______________________________________________________________*/




/* #region Debug_______________________________________________________________*/

/*

.debug #footer-site {
    background-color: rgb(0, 0, 0);
    height: 100px;
}

.debug .color {
    background-color: red;
    height: 100px;
}

.debug .card {}


* {
    border: 1px dashed black;
}
*/

/* #endregion Debug_______________________________________________________________*/



/* #region Utilities_______________________________________________________________*/

.container {
    width: 80%;
    margin: auto;
    max-width: 1440px;
}

.container-small {
    width: 70%;
    margin: auto;
    max-width: 1200px;

}

.clean-link {
    text-decoration: none;
    color: var(--db-dark);
    padding: 0 1rem;
}

.clean-link-footer {
    text-decoration: none;
    color: var(--db-light);
    padding: 1rem 0;
}

.btn {
    background-color: var(--db-primary);
    color: var(--db-light);
    border: none;
}

.btn-big {
    padding: 0.6rem 1.2rem;
}

.btn-init {
    padding: 0.3rem 1rem;
}







.d-f {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
    padding: 2rem;
}

.ai-c {
    align-items: center;
}


.col-3 {
    width: calc((100% / 12) * 4);
}






.column-gap1 {
    flex-direction: column;
}


.pl-title {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;


}

.icon-blue {
    color: blue;
}

.btn-plane {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.bord-plane {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;

}

.bord-sw {
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);


}



.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.ta-c {
    text-align: center;
}

.logo {
    width: 100%;
    
}

.logo-cl{
    width: 50%;
    height: 50%;
}

.logo-50{
    width: 50%;
}



/* #endregion Utilities_______________________________________________________________*/


/* #region Misure Padding_______________________________________________________________*/

.padding1 {
    padding: 1rem;
}


.pad-b05 {
    padding-bottom: 0.5rem;
}

.pad-t05 {
    padding-top: 0.5rem;
}

.pad-b1 {
    padding-bottom: 1rem;
}

.pad-t1 {
    padding-top: 1rem;
}

.pad-b2 {
    padding-bottom: 2rem;
}

.pad-t2 {
    padding-top: 2rem;
}

.pad-b3 {
    padding-bottom: 3rem;
}

.pad-t3 {
    padding-top: 3rem;
}

.pad-b4 {
    padding-bottom: 4rem;
}

.pad-t4 {
    padding-top: 4rem;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion Misure Padding_______________________________________________________________*/



/* #region header_______________________________________________________________*/

#header-site {
    background-color: var(--db-light);
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    line-height: 40px;
}

.box-left{
    align-items: center;
    display: inline-block;
}

.logo-header {
    width: 100%;
    display: inline   
}

/* #endregion header_______________________________________________________________*/



/* #region main_______________________________________________________________*/



/* #region sezione jumbotrone*/

.bg-jumbotron {
    background-color: var(--db-secondary);
    height: 700px;
}

.text-jumbo{
    display: flex;
    justify-content: center;
}

.info-jumbo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.img-jumbo {
    width: 60%;
}

.icon-jumbo {
    font-size: 300%;
}


/* #endregion sezione jumbotrone*/


.fs-40px {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding-top: 8rem;
    padding-bottom: 3rem;

}

.fatturazione {
    padding: 1rem;
    margin-bottom: 2rem;
}

/* sezione title planes */

.plane {
    border-left: 1px solid black;
    padding-bottom: 5rem;
    border-bottom: 1px solid black;
    width: 100%;

}


.color-soft {
    color: gray;
}


/* sezione planes */



.cta-text {}

.cta-btn {
    text-align: end;
}

/* sezione partner */




.card {
    width: 33.33%;
    padding: 0.5rem;

}

/* sezione operation */

.card-cl{
    width: 33.33%;

}


.card-cl1{
    width: 33.33%;
    padding: 1rem;
    background-color: rgb(233, 233, 233);

}

.logo-cl{
    width: 50%;
    height: 50%;
    
}

.logo-client{
    width: 50%;
    color: var(--db-light);
    filter: invert();
    align-items: center;
    margin: auto;
    
}


.box1{
    align-items: center;
    background-color: var(--db-box1);
}

.box2{
    align-items: center;
    background-color: #61082bFF;
    
}


.box3{
    align-items: center;
    background-color: #0093ceFF;
}

.box4{
    align-items: center;
    background-color: #ff1c1cFF;
}

.box-central{
    background-color: #f5f5f5FF;
    padding: 2rem;
}
/* sezione client */


.free {
    background-color: var(--db-secondary);
}

.box-free {
    justify-content: space-between;
    padding: 5rem;
}

.box5{
    align-items: center;
    background-color: #d5001fFF;
}

.box6{
    align-items: center;
    background-color: #b4d0e7FF;
    
}


.box7{
    align-items: center;
    background-color: #0d2481FF;
}

.box8{
    align-items: center;
    background-color: #ffd830FF;
}

/* sezione free */

.box-faq{
    border-bottom: 1px solid black;
}


/* #endregion main_______________________________________________________________*/




/* #region footer_______________________________________________________________*/

#footer-site {
    background-color: rgb(0, 0, 0);
    color: var(--db-light);

}


.footer-top, .footer-bot {
    color: var(--db-light);
    padding: 3rem;
}       

div > b {
    font-size: 28px;
}



/* #endregion footer_______________________________________________________________*/


